*{
	margin: 0;
	padding: 0;
	font-family: 'Poppings',sans-serif;
    box-sizing: border-box;
}

body{
    background: #292929;
    font-family: 'calibri';
	overflow: hidden;
}

header {
    background: #03A9F4;
    width: 100%;
    clear: both;
    content:'';
    display: table;
}

h1
{
    font-family: 'Comic Sans';
}
.menu{
    position: fixed;
    margin: 0 auto;
    width: 100%;
    padding: 0px;
    background: rgb(70, 140, 253);
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0px 4px 3px rgb(0, 0, 0, .5);
}

.menu ul{
    list-style-type: none;
}

.name{
    padding: 10px;
}

.menu li a{
    display: block;
    background: rgb(70, 140, 253);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.menu li a:hover{
    background: #192763;
    color: #fff;
}

section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(to bottom,#3d77d6,#7bb6e4);
    z-index: 2;
}

section .color{
	position: absolute;
	filter: blur(150px);
}

section .color:nth-child(1){
top: -350px;
width: 600px;
height: 600px;
background: #192763;
z-index: 1;
}

section .color:nth-child(2){
	top: 150px;
   left: -125px;
   width: 120px;
   height: 120px;
}

section .color:nth-child(3){
	bottom: 50px;
	right: 100px;
	width: 300px;
	height: 300px;
	background: #2ca1bb;
}

.box{
	position: relative;
}

.box .square:nth-child(1){
   top: -40px;
   right: -105px;
}

.box .square:nth-child(2){
   top: 120px;
   left: -105px;
}

.box .square:nth-child(3){
   bottom: 40px;
   right: -78px;
}

.box .square:nth-child(4){
   bottom: -40px;
   left: 150px;
}

.box .square:nth-child(5){
   top: -80px;
   left: 100px;
}

footer
{
    position: absolute;
    margin-top: -10px;
    width: 100%;
    clear: both;
    padding: 10px;
    background: rgb(70, 140, 253);
    text-align: center;
    color: rgb(0, 0, 0);
    bottom: 0;
}